/*@import "tailwindcss";*/
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-background {
  image-rendering: pixelated;
  height: 100vh;
  width: 100vw;

  background-image: url('../assets/teaHouseBackground.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
